@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    transition: all .5s ease;
    background-color: #C4DFDF;
}

#conteudo {
    color: #0e3535;
    background-color: #E3F4F4;
    box-shadow: 2px 2px 10px #D2E9E9;
    padding: 4em;
    border-radius: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.area {
    border: 0;
}

#titulo {
    font-size: 40px;
    text-align: center;
}

#subtitulo {
    margin: .5em 0;
    font-size: 24px;
    text-align: center;
    font-weight: 500;
}

.campo {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.campo > input {
    padding: .4em;
    border-radius: 10px; 
}

.campo > input:focus {
    background-color: rgb(245, 243, 243);
}

.area__campo {
    display: flex;
    gap: 1em;
    font-weight: 500;
    flex-direction: column;
    padding-bottom: 1em;
}

.botao {
    border-radius: 10px;
    padding: 0.5em 1em;
    position: absolute;
    left: 50%;
    margin-top: 1em;
    transform: translate(-50%);
    background: transparent;
    box-shadow: 2px 2px 2px #7b8d8d;
    cursor: pointer;
}

.botao:hover {
    background-color: #c9f5f5;
}

textarea:focus {
    background-color: rgb(245, 243, 243);
}